/* CSS HEX */

/*
--baby-pink: #ebbab9ff;
--pale-silver: #c9c5baff;
--morning-blue: #97b1a6ff;
--light-slate-gray: #698996ff;
--ming: #407076ff; 
*/


a {
    text-decoration: none;
    color: #97B1A6;
}

a:visited {
    color: #97B1A6;
}

a:hover {
    color: #EBBAB9;
}

.flex-container {
    width: 768px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #EBBAB9;
    background-color: #407076;
}

#sidebar {
    flex: 0 1 auto;
    padding: 0 30px;
}

#sidebar li {
    padding: 5px 0;
}

#sidebar ul {
    list-style: none;
}

#sidebar h1 {
    color: #EBBAB9;
}

#content {
    border-left: 1px solid #698996;
    
    padding: 0 30px;
    flex: 10 2 auto;
    min-height: 500px;
    color: #C9C5BA;
}

body {
    background-color: #698996;
}